<div class="container">
  <div class="card">
    <div class="card-body">
      <table class="table table-striped">

        <thead>
          <tr>
            <th scope="col" *ngFor="let header of tableHeaders">{{header}}</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let user of data;let i=index;">
            <td>{{i+1}}</td>
            <td *ngFor="let key of getKeys()">
              {{user[key]}}
            </td>
            <td>
              <i class="fa fa-pencil-square-o" (click)="edit(user.id)">Click me</i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>