<!-- <div class="parent">
  <div class="child">
    <div class="card">

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">firstname</span>
        </div>
        <input type="text" class="form-control" id="basic-url1" aria-describedby="basic-addon3">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon2">lastname</span>
        </div>
        <input type="text" class="form-control" id="basic-url2" aria-describedby="basic-addon3">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon3">email</span>
        </div>
        <input type="text" class="form-control" id="basic-url3" aria-describedby="basic-addon3">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon4">phone</span>
        </div>
        <input type="text" class="form-control" id="basic-url4" aria-describedby="basic-addon3">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon5">designation</span>
        </div>
        <input type="text" class="form-control" id="basic-url5" aria-describedby="basic-addon3">
      </div>
      <div>
        <button type="submit" class="btn btn-primary"> signup</button>
      </div>
    </div>
  </div>
</div>

















<div class="card" style="margin-top: 20px">
  <div class="form">
    <label>firstname:</label>
    <input type="text"><br>
    <label>lastname:</label>
    <input type="text"><br>
    <label>email:</label>
    <input type="text"><br>
    <label>phone:</label>
    <input type="text"><br>
    <label>destination:</label>
    <input type="text"><br>
  </div>
  <button type="submit" class="btn btn-primary"> submit</button>
</div> -->






<div class="card" style="margin-right: 390px;margin-left: 390px;margin-top: 90px">
  <div class="form-group">
    <div class="card-header">FORM</div>
    <form [formGroup]="usersform" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label>Username</label>
        <input type="text" formControlName="username" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Username is required</div>
          <div *ngIf="f.username.errors.minlength"> Minimum length is 5</div>
          <div *ngIf="f.username.errors.maxlength"> Maximum length is 50</div>
        </div>
      </div>


      <div class="form-group">
        <label>email</label>
        <input type="text" formControlName="email" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Username is required</div>
          <div *ngIf="f.email.errors.minlength"> Minimum length is 5</div>
          <div *ngIf="f.email.errors.maxlength"> Maximum length is 350</div>
        </div>
      </div>

      <div class="form-group">
        <label>mobile</label>
        <input type="text" formControlName="mobile" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" />
        <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
          <div *ngIf="f.mobile.errors.required">Mobile is required</div>
          <div *ngIf="f.mobile.errors.minlength"> Minimum length is 10</div>
          <div *ngIf="f.mobile.errors.maxlength"> Maximum length is 10</div>
        </div>
      </div>

      <div class="form-group">
        <label>designation</label>
        <input type="text" formControlName="designation" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.designation.errors }" />
        <div *ngIf="submitted && f.designation.errors" class="invalid-feedback">
          <div *ngIf="f.designation.errors.required">Username is required</div>
          <div *ngIf="f.designation.errors.minlength"> Minimum length is 5</div>
          <div *ngIf="f.designation.errors.maxlength"> Maximum length is 50</div>
        </div>
      </div>

      <div class="form-group">
        <label>firstname</label>
        <input type="text" formControlName="firstname" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }" />
        <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
          <div *ngIf="f.firstname.errors.required">Username is required</div>
          <div *ngIf="f.firstname.errors.minlength"> Minimum length is 2</div>
          <div *ngIf="f.firstname.errors.maxlength"> Maximum length is 100</div>
        </div>
      </div>

      <div class="form-group">
        <label>lastname</label>
        <input type="text" formControlName="lastname" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }" />
        <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
          <div *ngIf="f.lastname.errors.required">Username is required</div>
          <div *ngIf="f.lastname.errors.minlength"> Minimum length is 2</div>
          <div *ngIf="f.lastname.errors.maxlength"> Maximum length is 100</div>
        </div>
      </div>

      <button type="button" class="btn btn-primary" (click)="onSubmit()">ADD</button>
      <!-- <button class="btn btn-primary">ADD</button> -->

    </form>
  </div>
</div>